.header {
    position: sticky;
    border-bottom: 1px solid #8D8E97;
    width: 100%;
    background-color: white;
    .header__body {
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;
        .header__logo {
            text-transform: uppercase;
            font-size: 30px;
            color: black;
            text-decoration: none;
        }
        .header__search {
            display: flex;
            width: 40%;
            .header__input {
                border: 1px solid #8D8E97;
                border-radius: 10px 0px 0px 10px;
                border-right: none;
                width: 85%;
                padding: 15px;
            }
            .header__input:focus {
                outline: 2px solid #8D8E97;
            }
            .header__btn--search {
                border: 1px solid #8D8E97;
                border-radius: 0px 10px 10px 0px;
                border-left: none;
                background-color: transparent;
                
            }
        }
        .header__navbar {
            width: 112px;
            display: flex;
            justify-content: space-between;
        }
    }
}