.footer {
    max-width: 100%;
    height: 92px;
    border-top: 1px solid #8D8E97;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 176px auto;

    p {
        color: #8D8E97;
        font-family: InterSemiBold, sans-serif;
        font-size: 16px;
    }
}